<h1>We think this is where the form goes...</h1>

<button><a href="http://localhost:3000/coolProfile">Cool profile</a></button>

<form action="/profile" method="post" enctype="multipart/form-data">
    <input type="file" name="avatar" />
    <input type="submit" name="userInput" value="upload">
</form>

